

body{
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;   
    }
    ul {
        overflow: hidden;
        
        background-color:rgb(143, 164, 235);
        
        position: relative; 
        font-size: 20px;
        list-style-type: none;
        width:100%;
        font-size: 20px;
        float: inherit;
        border: 3px white;
    

    }    li {
        float: left;
    }
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
          }
          
          li a:hover {
            background-color:rgb(225, 142, 236);;
          }

    .playerButton{
          display: inline-block;
          font-size: 20px;
          cursor: pointer;
          text-align: center;
          color:black;
          background-color:yellow;
          border: none;
          border-radius: 4%;
          padding-bottom: 0.5%;
          padding-top: 0.5%;
          
          }

section{ 
        width:80%;
        height: 40%;     
        position: relative;
        float: center;;     
        padding-bottom: 0.2% ; 
        font-size: 20px;
        margin-left: 10%;
        background-color: lightskyblue;
        border-radius: 2%;
          
    } 

h2{
    color: yellow; 
    margin-top: 0.5%;
    padding-top: 1.2%;
    font-size: 25px; 
    font-stretch: semi-expanded;   
    text-decoration-line: underline;
  }
 
  
.main {  
    text-align: center;
    position: relative;
    padding-top:0.1%;
    padding-bottom: 0.1%;
    
  }
  .rightside {
      width:80%;
      position: relative;
      float: left;
      font-size: 20px;
      margin-left: 10%;
  }
 
  p {   
      font-size: 20px;
  }

#output {
    color:red;  
}

 #description {
     position: relative;
    font-size: 20px;
    text-align: center;
    float:center;
    width:auto;
    color: white;
    text-decoration-line: underline;    
}

#sidelink {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    border:3px;
    border-color: whitesmoke;
    font-size: 20px;
    background-color: #e2a1d4;
    display: inline-flexbox;
    border-radius: 5%;
}

